*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: var(--primary-font);
}

:root {
  /* Primary Colors  */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  /* (graphic design text) */
  --cyan: hsl(167, 40%, 24%);
  --dark-blue-photography-text: hsl(198, 62%, 26%);
  --dark-moderate-cyan-footer: hsl(168, 34%, 41%);

  /* Neutral Colors*/
  --dark-desaturated-blue: hsl(212, 27%, 19%);
  --darker-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --primary-font: "Barlow", sans-serif;
  --secondary-font: "Fraunces", serif;
}

header {
  background-image: url("images/mobile/image-header.jpg");
  background-size: cover;
}

nav {
  display: none;
}

.nav-key {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.container {
  width: 90%;
  margin: auto;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: var(--white);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Welcome Section*/
.welcome {
  padding: 5rem 0;
  color: var(--white);
  text-align: center;
}

.welcome h1 {
  font-size: 2rem;
  font-weight: 900;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding-bottom: 3rem;
}

.welcome img {
  padding-bottom: 5rem;
}

/*Works*/
.works {
  text-align: center;
}

.text {
  padding: 2rem 0;
}
.text > * {
  padding-top: 1.5rem;
}

.text h2 {
  font-size: 1.75rem;
  font-family: var(--secondary-font);
  font-weight: 900;
}

.text p {
  color: var(--dark-grayish-blue);
}

.link {
  text-transform: uppercase;
  font-family: var(--secondary-font);
  color: black;
  text-decoration: 5px underline var(--yellow);
}
