*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: var(--primary-font);
}

:root {
  /* Primary Colors  */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  /* (graphic design text) */
  --cyan: hsl(167, 40%, 24%);
  --dark-blue-photography-text: hsl(198, 62%, 26%);
  --dark-moderate-cyan-footer: hsl(168, 34%, 41%);

  /* Neutral Colors*/
  --dark-desaturated-blue: hsl(212, 27%, 19%);
  --darker-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --primary-font: "Barlow", sans-serif;
  --secondary-font: "Fraunces", serif;
}

header {
  background: url("images/mobile/image-header.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
}

.nav {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-key {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.container {
  width: 90%;
  margin: auto;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: var(--white);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Welcome Section*/
.welcome {
  padding: 10rem 0;
  color: var(--white);
  text-align: center;
}

.welcome h1 {
  font-size: 3.25rem;
  font-weight: 900;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  line-height: 1.5;
  padding-bottom: 3rem;
}

.welcome img {
  padding-top: 5rem;
}

/*Works*/
.works,
.slide,
.bg-img,
.testimonials {
  text-align: center;
}

.text {
  padding: 2rem 0;
}
.text > * {
  padding-top: 1.5rem;
}

.text h2 {
  font-size: 1.75rem;
  font-family: var(--secondary-font);
  font-weight: 900;
}

.text p {
  color: var(--dark-grayish-blue);
}

.link {
  text-transform: uppercase;
  font-family: var(--secondary-font);
  color: black;
  text-decoration: 5px underline var(--yellow);
}

.link-color {
  text-decoration: 5px underline var(--soft-red);
}

.bg-img {
  display: flex;
  flex-direction: column;
}

.div-1 {
  background: url("images/mobile/image-graphic-design.jpg") no-repeat center;
  background-size: cover;
  color: var(--cyan);
  height: 80vh;
}

.div-2 {
  background: url("images/mobile/image-photography.jpg") no-repeat center;
  background-size: cover;
  color: var(--dark-blue-photography-text);
  height: 80vh;
}

.div-1 h3,
.div-2 h3 {
  font-family: var(--secondary-font);
  font-size: 2rem;
  margin-bottom: 2.5rem;
  margin-top: 50vh;
}

.div-1 p,
.div-2 p {
  font-size: 1.25rem;
}

.testimonials {
  display: flex;
  flex-direction: column;
}

.testimonials h3 {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: var(--dark-grayish-blue);
  font-family: var(--secondary-font);
  font-weight: 700;
  padding: 4rem 0;
}

.profile-pic {
  border-radius: 50%;
}

.testimonials .text {
  color: var(--darker-grayish-blue);
}

.name {
  padding-bottom: 1rem;
}

.job-title {
  color: var(--dark-grayish-blue);
  padding-bottom: 4rem;
}

/*FOOTER*/
.footer-images {
  display: flex;
}

footer {
  background-color: var(--dark-moderate-cyan-footer);
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer-nav li {
  list-style: none;
  color: var(--cyan);
}

.footer-nav ul,
.sm-links {
  display: flex;
  gap: 2em;
  align-items: center;
  color: var(--cyan);
}

.footer-nav ul li {
  font-size: 1.5rem;
}

/*
Work on hover and other states 
fonts
background images
website // media query
*/
